.player-box {
  background-color: #454343;
  height: 60px;
}

.player-icon {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 50px;
}

#progress-circle {
  background-color: #f00;
  display: block;
  fill: #ccc;
}
