body {
  font-family: Roboto, Helvetica, Arial;
}

button {
  border: 0;
}

html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  flex: 1;
  height: 100%;
}

.podcast-header {
  flex: 1;
}

.podcast-feed {
  flex: 2;
}

.podcast-player {
  flex: 1;
  background-color: #454343;
}

.player-box {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-icon {
  vertical-align: middle;
  line-height: normal;
  font-size: 50px;
}

#progress-circle {
  fill: #ccc;
  position: relative;
  left: 100px;
}

.title {
  background-color: #aaa;
}

.description {
  text-decoration: italic;
  margin: 10px;
}

.episodeBox {
  margin: 10px;
  display: flex;
  vertical-align: middle;
  line-height: normal;
  border-bottom: 1px solid #ccc;
  color: #ddd;
  height: 100%;
}
